.gradle/
*.so
*.zip
*.pyc
pyenv/
.cxx/
app/android/app/build/
app/android/app/src/main/assets/bin/
app/android/app/src/main/assets/server/
.dropbear-build/
gradle-cli.jar
gradle-wrapper-shared.jar
gradle-wrapper-classpath.properties
