[submodule "third_party/dropbear"]
	path = third_party/dropbear
	url = https://github.com/espresso3389/dropbear.git
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/libusb/libusb.git
[submodule "third_party/libuvc"]
	path = third_party/libuvc
	url = https://github.com/libuvc/libuvc.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/espresso3389/llama.cpp
	branch = methings-miotts
