[submodule "third_party/dropbear"]
	path = third_party/dropbear
	url = https://github.com/espresso3389/dropbear.git
	branch = feat/uv-shell-alias
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/libusb/libusb.git
[submodule "third_party/libuvc"]
	path = third_party/libuvc
	url = https://github.com/libuvc/libuvc.git
[submodule "third_party/arduino-cli"]
	path = third_party/arduino-cli
	url = https://github.com/espresso3389/arduino-cli.git
[submodule "third_party/serial-discovery"]
	path = third_party/serial-discovery
	url = https://github.com/espresso3389/serial-discovery.git
	branch = methings/android-compat
